*{
    margin: 0;
    padding: 0;
}


html,body{
    height:100%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: rgb(54,77,204);
background: linear-gradient(180deg, rgba(80,4,131,1) 42%, rgba(43,0,255,1) 100%);
}

.avatar {
    width:80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    margin-top: 20px;
}

.profile{
    margin-top: 20px;
    text-align: center;
}


h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}

h2{
    font-size: 16px;
}

.social{
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-around;
    margin: 20px 0px;
}

.social img{
    width: 33px;
}
.links-list{
    list-style: none;
}

.links-list li a {
    margin: 10px 20px;
    display: block;
    background-color: white;
    padding: 10px;
    border-radius:  4px;;
    text-decoration: none;
    color:  rgb(54,77,204);
    font-weight: bold;
}
.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}